
        <main>
            <img id="sadFaceImg"
                src="https://www.easylinedrawing.com/wp-content/uploads/2021/07/magnifying_glass_drawing_tutorial.png"
                alt="sad face" />
            <h1>No results match your search</h1>
            <h2>Go back to the <a href="/" id="catalog">catalog</a></h2>
        </main>
   