<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>No results</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/static/images/logo.png"></li>
                <li><a href="/">Browse</a></li>
                <li><a href="/create">Add a Cube</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <main>
            <img id="sadFaceImg"
                src="https://www.easylinedrawing.com/wp-content/uploads/2021/07/magnifying_glass_drawing_tutorial.png"
                alt="sad face" />
            <h1>No results match your search</h1>
            <h2>Go back to the <a href="/" id="catalog">catalog</a></h2>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>