<main>
      {{#if err}}
      {{#each err}}
        <p><span class="error">{{this}}</span></p> 
      {{/each}}
      {{/if}}
  <h1>Register Form</h1>
  <div class="form">
    <form action="" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" {{#if err.username}} class="error"{{/if}} value="{{body.username}}"/>

      <label for="password">Password</label>
      <input type="password" id="password" name="password"{{#if err.password}} class="error"{{/if}} />

      <label for="repeatPassword">Re-Password</label>
      <input type="password" id="repeatPassword" name="repeatPassword" {{#if err.repeatPassword}} class="error"{{/if}}/>
      <input type="submit" value="Register" />
    </form>
  </div>
</main>